name: "Tests"

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        go:
          - '1.11'
          - '1.12'
          - '1.13'
          - '1.14'
          - '1.15'
          - '1.16'
          - '1.17'
          - '1.18'
          - '1.19'
          - '1.20'
          - '1.21'
    env:
      # For test to correctly locate the OS's php-fpm
      TEST_PHPFPM_PATH: /usr/sbin/php-fpm7.4
      # For backward compatibility
      GO111MODULE: on
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Install Tools for Tests
        run: sudo apt-get install -y php-fpm python3 python3-venv
      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Setup Node modules
        run: |
          cd ./example/nodejs
          yarn install
          cd ../..
      - name: Setup Python3
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - name: Setup Python3 modules
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install -r example/python3/requirements.txt
      - name: Setup Go
        uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go }}
      - name: Setup Go modules
        run: |
          go version
          go mod download -x || go mod download
      - name: Run tests
        run: go test -race ./...
